<!-- sidebar.component.html -->
<nav class="sidebar">
  <ul class="nav-list">
     <li (click)="viewcategories()">
      <i class="fas fa-list"></i> View Categories 📃
    </li>
    <li (click)="createcat()">
      <i class="fas fa-folder-plus"></i> Create Category 🗽
    </li>
    <li (click)="addquestion()">
      <i class="fas fa-plus-circle"></i> Add Question ➕
    </li>
    <li (click)="userlist()">
      <i class="fas fa-users"></i> Manage Users 👤
    </li>
    <li (click)="leaderboard()">
      <i class="fas fa-users"></i> Top Performers🏅
    </li>
   
 
  </ul>
</nav>
