<nav class="sidebar">
  <ul class="nav-list">
    <li (click)="viewcategories()">
      <i class="fas fa-list"></i> View Categories 📃
    </li>
    <li (click)="viewresults()">
      <i class="fas fa-list"></i> Previous Attempts 🗂️
    </li>
    <li (click)="viewleaderboard()">
      <i class="fas fa-list"></i> Leaderboard 🏆
    </li>
    <li (click)="update()">
      <i class="fas fa-list"></i> Update Profile 📝
    </li>
    <li (click)="password()">
      <i class="fas fa-list"></i> Change Password 🗝️
    </li>
  </ul>
</nav>
