<div class="user-list-container">
  <h2 class="title">User Management</h2>

  <table class="user-table">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id-10}}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="deleteuser(user.id)" class="delete-btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
